@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto";

    src: url("../fonts/roboto.woff2") format("woff2"), 
    url("../fonts/roboto.woff") format("woff");
  }

@font-face {
    font-style: normal;
    font-weight: medium;
    font-family: "Roboto";

    src: url("../fonts/robotomedium.woff2") format("woff2"), 
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: bold;
    font-family: "Roboto";

    src: url("../fonts/robotobold.woff2") format("woff2"), 
    url("../fonts/robotobold.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background-color: #849d8f;
    min-width: 1200px;
    min-height: 2500px;
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0px 27px;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

a {
    text-decoration: none;
}

.address {
    font-style: normal;
}
 
.top-address {
    text-align: right;
    margin-top: -7px;
}

.adrress-timetable {
    margin: 0;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.main-navigation {
    font-size: 16px;
    line-height: 18px;
    display: flex;
    min-height: 65px;
    padding-top: 10px;
}

.main-header {
    min-height: 120px;
}

.site-navigation>li {
    display: inline-block;
    margin-right: -4px; 
    position: relative;
    padding-top: 11px;
    padding-left: 12px;  
}

.main-menu-link {
    display: block;
    margin-left: -1px;
    padding: 10px 10px;
    color: #ffffff;
}

.main-menu-link:hover {
    border-radius: 30%;
    color: #323232;
    background: #f7f6f3;
}

.main-menu-link:active {
    border-radius: 30%;
    background: rgba(248,247,244,0.99);
    background: #ededed;
    box-shadow: inset 0 2px 1px 0 #696969;
    color: #323232;
}

.site-navigation, .submenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation .submenu {
    position: absolute;
    min-width: 148px;
    left: 1px;
    display: none;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
    background: #f8f7f4;
}

.submenu-link {
    font-weight: normal;
    font-size: 14px;
    color: #323232;
    line-height: 30px;
    display: block;
    padding: 8px 10px;
}

.submenu-link:hover {
    background: #fbded7;
    color: #323232;
}

.submenu-link:active {
    background: #F6B5A5;
}

.submenu-link-active {
    background: #D07058;
    color: #ffffff;
}

.site-navigation>li:hover .submenu {
    display: block;
}

.nav-item {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
    font-weight: medium;
    font-size: 14px;
    line-height: 16px;
    border-radius: 30%;
    position: relative;
}

.basket {
    height: 20px;
}


.nav-item a {
    color: #ffffff;
}

.button-search {
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border: none;
    padding: 0;
}

.search {
    position: relative;
}

.nav-item:hover, 
.nav-item:active,
.button-search:hover, 
.button-search:active {
    background-color: #ffffff;
    color: #000000;
}

.nav-item:hover a, 
.nav-item:active a {
    background-color: #ffffff;
    color: #000000;
}

.button-search:hover path, 
.button-search:active path,
.nav-item:hover path, 
.nav-item:active path,
.nav-item:hover circle, 
.nav-item:active circle {
    fill: #000000;
}

.basket::before {
    
}

.nav-item:hover,
.nav-item:focus {
    
}

.user-navigation {
    margin-left: auto;
    display: flex;
    padding-top: 10px;
    
}

.user-account {
    list-style: none;
    margin: 0;
    padding: 0;
}

.login-link {
    position: relative;
}


.active {
    background: rgba(255, 255, 255, 0.9);
    color: #323232;
}

.breadcrumbs a {
    color: #ffffff;
    padding: 5px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: #eebb9e;
}

.breadcrumbs {
    margin: -22px auto;
    padding: 0; 
    display: flex;
    list-style: none;
}

.main-address {
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    color: #ffffff;
    line-height: 24px;
}


.slider-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 660px;
}

.slider-item {
    text-align: center;
    position: relative;
    min-height: 600px;
}

.slider-item:not(:first-child) {
    display: none;
}
  
.slider-item .slider-heading {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    margin: 0;
    padding-top: 270px;
    padding-bottom: 40px;
}

.slider-heading {
    
}

.slider-img {
    position: absolute;
    top: -50px;
    z-index: -1;
}

.slider-controls {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 20;
    
    font-size: 0;
  }
  
  .slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
  
    vertical-align: top;
  
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }

.promo-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.promo-item {
    width: 560px;
    min-height: 200px;
    padding: 13px 18px;
    
    margin-bottom: 10px;
    border-radius: 17px;
    background-position: top center;
    background-repeat: no-repeat;
    vertical-align: bottom;
    position: relative;
}

.promo-item .promo-heading {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    margin: 0;
}

.promo-item .promo-text {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.promo-item .button {
  position: absolute;
  right: 20px;
  bottom: 22px;
  padding: 11px 23px;
}

.promo-rasberry {
    background-color: #c5083b;
    background-image: url("../img/rassberry.jpg");
}

.promo-item:first-child {
    margin-right: 26px;
}

.promo-chocolate {
    background-color: #2b190c;
    background-image: url("../img/chocolate.jpg");
}

.bestsellers-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.bestsellers-list li:not(:nth-child(4n)) {
    margin-right: 26px;
}

.catalog-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
}

.catalog-list li:not(:nth-child(4n)) {
    margin-right: 26px;
}

.card-product .card-name {
    font-size: 16px;
    line-height: 23px;
    font-weight: medium;
    margin-top: -10px;
    padding-bottom: 13px;
}

.card-product .card-price {
    font-size: 45px;
    line-height: 13px;
    font-weight: bold;
    position: absolute;
    top: 192px;
}

.card-price .card-weight {
    font-size: 30px;
    line-height: 13px;
    font-weight: bold;
}

.card-product .card-img {
    border-radius: 50%;
    margin: 0;
}

.card-hit {
    background-color: #ffffff;
    background-image: url("../img/hit.svg");
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    top: 15px;
}

.card-product {
    width: 267px;
    display: flex;
    flex-direction:column-reverse;
    align-items: flex-start;
    position: relative;
}

.card-button {
    display: none;
}

.card-product:hover .card-button {
    display: block;
}

.button-main {
    display: inline-block;
    padding: 12px 44px;

    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;

    cursor: pointer;
}

.button-main:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-main:active {
    color: #fceeec;
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.button {
    font: inherit;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    background-image: linear-gradient(0deg, #ca3824 0%, #f26843 100%);
    box-shadow: 0 2px 2px 0 rgba(85,8,0,0.54);
    border-radius: 45px;
    padding: 10px 30px;
}

.button:hover {
    color: #fefefe;
    background-image: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
    box-shadow: 0 1px 2px 0 #ac1000;
}
    
.button:active {
    color: #fceeec;
    background-image: linear-gradient(0deg, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0 2px 2px 0 #942718;
}

.features-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.features {
    background-color: #f0e6cf;
    background-image: url("../img/waffle-big.jpg");
    background-position: top center;
    box-sizing: border-box;
    padding: 22px;
    min-height: 303px;
    border-radius: 17px;
    margin-top: -8px;
}

.features-heading {
    color: #000000;
    font-size: 24px;
    line-height: 30px;
    font-weight: medium;
    margin: 0;
    padding-bottom: 20px;
}

.features-item {
    padding-left: 55px;
    font-weight: normal;
    font-size: 16px;
    color: #323232;
    line-height: 22px;
    width: 484px;
    position: relative;
}

.features-item:first-child {
    margin-bottom: 23px;
}

.features-item::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    width: 49px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.icecream::before {
    background-image: url("../img/ice-cream.svg");
}

.thermometer::before {
    background-image: url("../img/thermometer.svg");
}

.eco::before {
    background-image: url("../img/eco.svg");
}

.cow::before {
    background-image: url("../img/cow.svg");
}

.index-columns {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
}

.blog-list {
    background-color: #ffffff;
    background-image: url("../img/straberry.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 27px;
    padding: 22px 20px;
    width: 560px;
    border-radius: 17px;
}

.blog-list h2 {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin: 0;
    padding-bottom: 7px;
    padding: 5px;
}

.blog-list h3 {
    font-size: 24px;
    line-height: 30px;
    width: 280px;
    font-weight: bold;
    color: #000000;
    margin:0;
}

.mailing {
    color: #5a5a5a;
    background-color: #ffffff;
    background-image: url("../img/bg-post.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box; 
    width: 560px;
    padding: 6px;
    border-radius: 17px;

}

.mailing-block {
    background-color: #f8f7f4;
    box-sizing: border-box; 
    width: 549px;
    min-height: 210px;
    padding: 30px 20px;
    border-radius: 17px;
}

.mailing-block input {
    margin-top: 37px;
    min-height: 40px;
    min-width: 366px;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;

}

.mailing-block button {
    padding: 10px 18px;
    margin-left: 7px;
    background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
    box-shadow: 0 2px 2px 0 rgba(172,16,0,0.64);
}

.mailing-text {
    margin: 0;
}

.map {
    position: relative;
    margin-top: 40px;
    height: 430px;
    overflow: hidden;
}

.map p {
    margin: 0;
}

.map-image {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.map-contacts {
    background-color: #f8f7f4;
    color: #000000;
    width: 270px;
    position: absolute;
    right: 150px;
    bottom: 90px;
    border-radius: 10%;
    padding: 20px 20px 0px 30px;
    font-weight: normal;
}

.map-contacts address {
    font-weight: inherit;
    font-size: 14px;
    color: #323232;
    letter-spacing: 0;
    line-height: 20px;
}

.map-address {
    font-weight: bold;
    font-size: 18px;
    color: #323232;
    letter-spacing: 0;
    line-height: 24px;
    padding-bottom: 20px;
   
}

.map .adrress-timetable {
    padding-bottom: 20px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.filter fieldset {
padding-left: 0;

}

.filter-section {
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}

.filter fieldset {
    border-radius: 45px;
    border: none;
}

/*.filter fieldset {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 45px;
    border: none;
    height: 39px;
}

.filter fieldset:hover{
    color: #000000;
}
*/

.filter-button {
    width: 146px;
    height: 39px;
    background: rgba(255,255,255,0.00);
    border: 2px solid #ffffff;
    border-radius: 45px;
    padding: 10px 30px;
    font-weight: medium;
    font-size: 16px;
    color: #ffffff;
    line-height: 18px;
    margin-top: 27px;
}

.filter-button:hover {
    background: #ffffff;
    color: #323232;
}

.filter-button:active {
    background: #ededed;
    box-shadow: inset 0 2px 1px 0 #696969;
}

.filter input[type^="check"] + label::before,
.filter input[type^="radio"] + label::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  margin-left: 5px;
  padding-right: 10px;
  vertical-align: middle;
  background-repeat: no-repeat;
  box-sizing: border-box;
  

}

.filter input[type^="check"] + label::before {
    background: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 20px;
    background-size: 100%;
}

.filter input[type^="radio"] + label::before {
    background: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-size:  22px 22px;
    width: 22px;
    height: 22px;
}

.filter input[type^="check"]:checked + label::before {
    background: url("../img/checkbox-on.svg");
   
}

.filter input[type^="radio"]:checked + label::before  {
    background: url("../img/radio-on.svg");
  }

.value-controls {
    width: 50px;

}

.range-controls {
    position: relative;
    padding: 10px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
  }

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: 0;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 10%;
}

.range-toggle-max {
    left: 80%;
}

.filter-item {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 45px;
    padding: 8px;
    box-sizing: border-box;
}

.filter-item:hover {
    
}

.sort {
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border: none;
}

.pagination-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.pagination-list li {
    padding: 5px;
}

.pagination-list a {
    color: #ffffff;
    font-weight: medium;
    font-size: 16px;
    line-height: 18px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    min-height: 20px;
    font-weight: normal;
    font-size: 13px;
    color: #ffffff;
    line-height: 16px;
}

.main-footer a {
    color: #ffffff;
    font-weight: normal;
}


.main-footer a:hover,
.main-footer a:focus {
    color: #eebb9e;
}

.social-link {
    width: 40px;
    height: 40px;
    margin-right: 9px;
    display: flex;
    position: relative;
    
}

.social-link:hover {
    opacity: 1;
}

.social-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 17px;
    
}

.social-link::before {
    content: "";
    position: absolute;
    height: 29px;
    width: 29px;
    display: block;
    opacity: 0.8;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: #979797;
    border: 4px solid #ffffff;
}

.social-link-twitter::before {
    background-image: url("../img/twitter.svg");
}

.social-link-instagram::before {
    background-image: url("../img/instagram.svg");
}

.social-link-fb::before {
    background-image: url("../img/fb.svg");
}

.social-link-vk::before {
    background-image: url("../img/vk.svg");
}

.social-link-twitter:hover::before,
.social-link-instagram:hover::before,
.social-link-fb:hover::before,
.social-link-vk:hover::before {
    opacity: 1;
}

.social-link-twitter:active::before,
.social-link-instagram:active::before,
.social-link-fb:active::before,
.social-link-vk:active::before {
    opacity: 0.7;
}

.footer-nav {
    list-style: none;
    padding: 0;
}

.footer-copyright {
    
}

.modal {
    position: absolute;
    display: block;
    color: #000000;
    background-color: #F8F7F4;
    border-radius: 10px;
    box-sizing: border-box;
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"],
.modal textarea {
    box-sizing: border-box;
    padding: 15px;
    padding-right: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(178,178,178,0.52);
    border-radius: 10px;
    font-weight: normal;
    font-size: 16px;
    color: #999999;
    line-height: 24.3px;
    margin-bottom: 20px;
    height: 47px;
}

.modal-search {
    width: 344px;
    align-items: center;
    top: 0;
    right: 0;
    padding: 20px 15px;

}

.modal-search input[type="text"]{
    width: 314px;
    margin: 0;

}

.modal-user {
    top: 45px;
    right: 0;
    width: 280px;
    height: 217px;
    padding: 25px 25px;
    text-align: left;
    display: none;
    
}

.modal-user a {
    font-family: normal;
    font-size: 13px;
    color: #323232;
    line-height: 16px;
    background: #F8F7F4;
    
}

.login-help {
    display: flex;
    flex-direction:column;

}

.modal-user a:hover,
.modal-user a:focus {
    color: #FFBC9E;
    background: #F8F7F4;
}

.modal-feedback {
    top: 50%;
    left: 50%;
    width: 481px;
    height: 446px;
    margin-top: -240px;
    margin-left: -223px;
    padding: 5px 25px;
    position: fixed;
    display: none;
}

.feedback-heading {
    font-weight: medium;
    font-size: 24px;
    color: #323232;
    line-height: 28px;
}

.modal-feedback input[type="text"],
.modal-feedback input[type="email"] {
    width: 270px;
    
}

.modal-feedback textarea {
    width: 100%;
    min-height: 158px;
  }

.modal-feedback .button {
    position: absolute;
    right: 20px;
    bottom: 22px;
    padding: 11px 23px;
}

.button-close-feedback {
    position: absolute;
    top: 15px;
    right: 12px;
    width: 18px;
    height: 17px;
    cursor: pointer;
    background: #F8F7F4;
    background-image: url("../img/cross-big.svg")

}

.modal-show {
    display: block;
}


